body {
    background-color: lightpink;
}
.container{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: skyblue;
    height: 100px;
    margin: 20px;
}

.main{
    /* background-color: lightpink; */
    height: 500px;
    display: flex;
}

.footer{
    background-color: skyblue;
    height: 100px;
    margin: 20px;
}

.asside{
    background-color: lightseagreen;
    width: 20%;
    margin: 0 20px 0 20px;
}

.article{
    background-color: rgb(223, 104, 104);
    width: 76%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bingkai{
    display: flex;
    justify-content: center;
}

.bingkai img{
    width: 250px;
    margin: 0.5em;
}

h3{
    text-align: center;
}